<!DOCTYPE html>
<html>
<head>
  <title>Flask-SSE Quickstart</title>
</head>
<body>
<h1>Flask-SSE Quickstart</h1>

<div id="001">TextDebug1</div>
<div id="002">TextDebug2</div>
<div id="003">TextDebug3</div>
<div id="004">TextDebug4</div>



<a href="/darov">/darov</a>
<br>
<a href="/sleep">/sleep</a>
<br>
<button onclick="postJSON('/api/v1/sse','sse go')">sse go!</button>
<br>
<button onclick="postJSON('/api/v1/burncpu','burncpu')">Burning CPU 10sec</button>
<br>
<button onclick="open_win()">"Open Windows"</button>
<br>
<button ><a href="{{ url_for('download') }}">Download</a></button>

<script src="{{ url_for('static', filename='sse.js' )}}"></script>
</body>
</html>


  <div class="container">
      <div class="d-flex align-items-center border-bottom">
          <a href="{% url 'main:home' %}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span>
              <div class="text-left">
                <h1 class="display-4">Сервис рассылок</h1>
                <p class="lead">Твои письма — наша ответственность!</p>
              </div>
            </span>
          </a>
          <nav class="nav">
          		<div class="nav-item">
                  	<a class="  btn btn-outline-primary" href=" {% url 'blog:news' %}">Новости</a>
                </div>
            	<div class="nav-item">
                  	<a class=" nav-item btn btn-outline-primary" href=" {% url 'newsletter:newsletters_list' %}">Рассылки</a>
            	</div>
            		<a class="btn btn-outline-primary" href="{% url 'main:contacts' %}">Контакты</a>
                  	<a class="btn btn-outline-primary" href=" {% url 'main:about' %}">О нас</a>
                  	<a class="btn btn-primary" href="">Войти</a>
                  	<a class="btn btn-primary" href="">Зарегистрироваться</a>
          </nav>
      </div>
  </div>

