<!DOCTYPE html>
<html>
<head>
  <title>Flask-SSE Quickstart</title>
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel=stylesheet type=text/css>
</head>
<body>
<div class="container-fluid row gap-2">
  <h1>Flask-SSE Quickstart</h1>
  {% block content %}
  {% endblock %}
</div>
<script src="{{ url_for('static', filename='sse.js' )}}"></script>
<script src="{{ url_for('static', filename='loglevel.js' )}}"></script>
<script src="{{ url_for('static', filename='bootstrap.js' )}}"></script>
</body>
</html>

