{% extends 'base.html'%}



{% block content %}

<div class="row">
  <!--    <a class="btn btn-outline-secondary" href="/api/call">/api/call GET</a>-->

  <button class="btn btn-outline-primary" onclick="postJSON('/api/call','')">
    /api/call
  </button>
    <button class="btn btn-outline-secondary" onclick="postJSON('/api/cpubound','')">
    /api/cpubound
  </button>
   <button class="btn btn-outline-secondary" onclick="postJSON('/api/cpubound_task','')">
    /api/cpubound_task
  </button>

  <button class="mt-4 btn btn-outline-dark " onclick="open_win()">Open Windows</button>
</div>
<p class="  fs-4 text-wrap" id="001">Here sse should came with 'message'</p>
<!--  <p class="fs-4" id="002">Here sse should came with 'occur'</p>-->
{% endblock %}